body {
  margin: 0;
  background-color: #f1f3f6;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.menu {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}

.menu-flex {
  display: flex;
  align-items: center;
}

.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
  margin: 0px 0px 0px 30px;
}

.menu-column h1 {
  font-size: 24px;
}

.menu-column.menu-second-column {
  justify-content: flex-end;
}

.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
}

.menu-link-button {
  text-decoration: none;
  height: 48px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}


img {
  margin: 0auto;
  width: 164px;
  height: 103.5px;
  background-color: #ffffff;

}

.itens {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

}

.box {
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 245px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 4px 3px 2px #585e65;
}

.box:hover {
  border: 1px solid #4C6EF5;
}


.preco {
  display: flex;
  width: 100%;
}

button {
  border: 0;
  outline: none;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  background-color: #4C6EF5;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}